| $('#concerts').append("<section class='concert-list'#{j(render partial: "shared/future_concert_list", collection: @concerts, as: "concert", locals: { join_concert_ids: @join_concert_ids })}</section>")
