@import "constants"

header, #signup-bar
  .btn
    width: 46%
    margin: 2%
  .signup-btn
    color: $base_color
    background-color: #fff
    border-color: $base_color

  .signin-btn
    color: $grey_color
    background-color: #fff
    border-color: $grey_color

.btn.btn-twitter
  color: #fff
  background-color: #55acee
  border-color: none
  width: 100%
  span
    padding-left: 5px
    font-wight: bold
.btn.btn-twitter-share
  color: #fff
  background-color: #55acee
  border-color: none
  font-size: 12px
  padding: 4px 12px
  span
    padding-left: 5px
    font-wight: bold
.btn-base
  background-color: $base-color
  color: #fff
.btn.btn-twitter:hover, .btn.btn-twitter:focus, .btn-base.btn:hover, .btn-base.btn:focus, .btn.btn-twitter-share:hover, .btn.btn-twitter-share:focus
  color: #fff

.btn.edit
  background-color: #fff
  border: 1px solid #999
  color: #999
  padding: 2px 15px

