| $artist_search = $('#artist-search')
  $artist_search.val("")
  $target = $(".artist-#{@favorite_artist.artist_id}")
  $target.find('i.fa-star').removeClass('hidden')
  $target.find('.favorite').removeClass('active')
