| $('.all-appearance-artists').append("#{j(render 'appearance_artist_item')}");
| $("#add-artist-success-msg").fadeIn();
| $('#artist-search').val("");
| setTimeout( function(){$("#add-artist-success-msg").fadeOut()}, 1000 );