@import "constants"

.table-row
  display: table-row

.tabel-link
  display: table
  width: 100%
  height: 100%
  span
    display: table-cell
    vertical-align: middle

.star
  width: 35px
  height: 25px
  background: image-url("star_animation.png")
  background-repeat: no-repeat
  background-position: 4px 5px
  background-size: auto 25px
  padding: 4px
  cursor: pointer
.star.active
  background-position: -1952px 5px
  -webkit-transition: background 1s steps(55)
  transition: background 1s steps(55)

h1.title
  font-size: 18px
  padding: 10px 10px
  border-bottom: 1px solid $thin_grey_color
  margin: 0

.sub-title
  border-left: 3px solid $base_color
  margin-top: 10px
  span
    padding-left: 8px

.content-container
  padding: 10px

.content-divider
  padding: 5px 10px 5px 10px
  background-color: $base_color
  color: #fff
  p
    margin-bottom: 0
  i
    padding-right: 5px

.table-boder tbody tr td
  border: 1px solid #ddd
