@import "constants"

body.concerts
  .concert-fileter
    padding: 5px
    border-bottom: 1px solid #ddd
    #prefecture_prefecture_id, #date_year
      width: 48%
      border: 1px solid #ccc
      background-color: #fff
      border-radius: 4px
      padding: 3px 0 3px 5px
    #date_year
      margin-left: 20px
    .sp.select:after, #prefecture_prefecture_id, #date_year
      color: #337ab7
    .sp.select:after
      margin-left: -20px
  #loading-concerts
    text-align: center
    padding: 10px
    img
      height: 50px