@import "constants"

body.tutorial
  background-color: $thin_grey_color
  .welcome-container
    .welcome-message
      text-align: center
      margin-top: 30px
      margin-bottom: 10px
    #janru-list
      display: table
      margin-right: auto
      margin-left: auto
      border-spacing : 15px 20px
      .janru_box
        background-color: $base_color
        text-align: center
        display: table-cell
        width: 38%
        margin: 5%
        border: 1px solid $grey_color
        border-radius: 4px
        height: 50px
        vertical-align: middle
        color: #fff
        h3, p, a
          color: #fff
  #artist-selecter
    table
      width: 90%
      margin-right: auto
      margin-left: auto
