@import "constants"

body.users
  .joined-head
    border-bottom: 1px solid #ddd
    select
      margin-right: -15px
    p
      margin-bottom: 0
      .select:after
        content: "\f0d7"
        font-family: FontAwesome
      .after-text
        padding-left: 10px
    padding: 8px
    padding-left: 10px
