@import "constants"

body.users
  .joined-head
    border-bottom: 1px solid #ddd
    #params_year
      border: none
      background-color: #fff
    p
      margin-bottom: 0
      .select.sp:after
        content: "\f0d7"
        font-family: FontAwesome
        margin-left: -15px
      .after-text
        padding-left: 10px
    padding: 8px
    padding-left: 10px
  .joined-count
    padding-left: 10px
    padding-top: 10px

  .artist-ranking
    .more
      color: $grey_color
