@import "constants"

body.welcome
  background-color: $thin_grey_color
  #jumbotron
    background-image: image-url("welcome/live_back.jpg")
    background-repeat: no-repeat
    background-size: cover
    color: #fff
    padding-top: 60px
    padding-bottom: 50px
  .top-container
    .top-message
      text-align: center
      padding-bottom: 20px
      font-size: 22px
      line-height: 1.7
    .top-description
      margin-bottom: 30px
    .btn
      padding: 10px 12px
    #signup-bar
      a
        width: 48%
      a.signup-btn
        margin-left: 0
      a.signin-btn
        margin-right: 0

  .features
    background-color: #fff
    padding-bottom: 20px
    .content
      padding-top: 20px
      text-align: center
    .heading
      p
        font-size: 20px
    .row
      font-size: 14px
      border-bottom: 1px solid #ddd
      div
        margin-bottom: 20px
    img
      width: 100%
