@import "constants"

body.welcome
  background-color: $thin_grey_color
  #jumbotron
    background-image: image-url("welcome/live_back.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: 40% 70%
    color: #333
    padding-top: 60px
    padding-bottom: 50px
    position: relative
  #jumbotron:after
    z-index: 0
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(255,255,255,0.15)
  .top-container
    position: relative
    z-index: 10
    .top-message
      text-align: center
      padding-bottom: 20px
      font-size: 22px
      line-height: 1.7
    .top-description
      margin-bottom: 30px
    .btn
      padding: 10px 12px
  .content, .top-container
    #signup-bar
      a
        width: 48%
      a.signup-btn
        margin-left: 0
      a.signin-btn
        margin-right: 0

  .features
    background-color: #fff
    padding-bottom: 20px
    .content
      padding-top: 20px
      text-align: center
    .heading
      p
        font-size: 20px
    .row
      font-size: 14px
      border-bottom: 1px solid #ddd
      div
        margin-bottom: 30px
        margin-top: 10px
      span
        //padding-left: 5px
      p
        font-size: 105%
        font-wight: bold
    img
      width: 100%


  @media screen and (min-width: 710px)
    .top-description
      text-align: center
